{
  "openapi": "3.0.3",
  "info": {
    "title": "xi.pe API",
    "description": "A high-performance pastebin service providing short, memorable codes using 4-6 character alphanumeric identifiers. The API uses plain text for all requests and responses by default. The ?input=form parameter exists solely for HTML form compatibility.",
    "version": "1.0.0",
    "contact": {
      "name": "Drew Streib",
      "email": "dtype@dtype.org"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://xi.pe",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Development server"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Store data",
        "description": "Stores pastebin data with 7-day expiration. Plain text input/output is the default and standard behavior. Non-browser clients receive a plain text URL response, while browsers receive an HTML redirect to the created item. The ?input=form parameter exists purely to support HTML web forms.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "description": "Input format type - use 'form' ONLY for HTML web form compatibility. Plain text is the default.",
            "schema": {
              "type": "string",
              "enum": ["form"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "maxLength": 2097152,
                "description": "Plain text content to store (DEFAULT - this is the standard API behavior)"
              },
              "examples": {
                "text_example": {
                  "summary": "Raw text storage",
                  "value": "Hello, world!"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormRequest"
              },
              "description": "Used ONLY with ?input=form parameter for HTML form compatibility"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created (API clients get plain text URL, browsers get HTML redirect)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain text URL of the created item (for non-browser clients)",
                  "example": "https://xi.pe/Ab3d"
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "description": "Owner ID cookie for deletion access",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "303": {
            "description": "See Other - redirect for browser clients and form submissions",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "HTML redirect to the created item page (for browsers and form submissions)"
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "description": "Owner ID cookie for deletion access",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Redirect URL to the created item page",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content too large",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "529": {
            "description": "Unable to generate unique code",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - storage service temporarily unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          }
        }
      }
    },
    "/{code}": {
      "get": {
        "summary": "View data",
        "description": "Views stored data. Returns HTML page for browsers, raw content for API clients.",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The short code (4-5 characters) or static page name",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]{4,5}$|^[a-zA-Z]+$"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Source indicator for success pages",
            "schema": {
              "type": "string",
              "enum": ["success"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content found",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "HTML page showing data content"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain text data content (standard API response)"
                }
              }
            }
          },
          "400": {
            "description": "Invalid code format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "404": {
            "description": "Code not found or expired",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete data",
        "description": "Deletes stored data. Requires owner authentication via cookie.",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The short code to delete",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]{4,5}$"
            }
          }
        ],
        "security": [
          {
            "OwnerCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid owner cookie",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Error 400: Invalid parameters"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateFormRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Text data to store (expires after 7 days)"
          },
          "format": {
            "type": "string",
            "enum": ["html"]
          }
        },
        "required": ["data"]
      },
      "ErrorResponse": {
        "type": "string",
        "description": "Plain text error message in format: Error {code}: {message}",
        "example": "Error 404: Short URL not found or has expired"
      }
    },
    "securitySchemes": {
      "OwnerCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "id",
        "description": "128-bit owner token for deletion access"
      }
    }
  }
}