{
  "openapi": "3.0.3",
  "info": {
    "title": "xi.pe API",
    "description": "A high-performance pastebin service providing short, memorable codes using 4-6 character alphanumeric identifiers.",
    "version": "1.0.0",
    "contact": {
      "name": "Drew Streib",
      "email": "dtype@dtype.org"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://xi.pe",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Development server"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Store data",
        "description": "Stores pastebin data. Supports both JSON and URL-encoded form data.",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "description": "Input format type",
            "schema": {
              "type": "string",
              "enum": ["urlencoded"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequest"
              },
              "examples": {
                "data_example": {
                  "summary": "Data storage",
                  "value": {
                    "ttl": "1w", 
                    "data": "Hello, world!"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "Redirect to the created item page for browser clients"
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "description": "Owner ID cookie for deletion access",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - content too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "529": {
            "description": "Unable to generate unique code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - storage service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Store raw text data",
        "description": "Stores raw text data with automatic UTF-8 validation, truncation at 2MB, and 1-day TTL.",
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "maxLength": 2097152,
                "description": "Raw text content to store"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully stored",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "URL of the created item"
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "description": "Owner ID cookie for deletion access",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid UTF-8 or empty content",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "529": {
            "description": "Unable to generate unique code",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - storage service temporarily unavailable",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/{code}": {
      "get": {
        "summary": "View data",
        "description": "Views stored data. Returns HTML page for browsers, raw content for API clients.",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The short code (4-6 characters) or static page name",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]{4,6}$|^[a-zA-Z]+$"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Source indicator for success pages",
            "schema": {
              "type": "string",
              "enum": ["success"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content found",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "HTML page showing data content"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Raw data content for API clients"
                }
              }
            }
          },
          "400": {
            "description": "Invalid code format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Code not found or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete data",
        "description": "Deletes stored data. Requires owner authentication via cookie.",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The short code to delete",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]{4,6}$"
            }
          }
        ],
        "security": [
          {
            "OwnerCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid owner cookie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateRequest": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "string",
            "enum": ["1d", "1w", "1mo"],
            "description": "Time to live: 1d=4 chars, 1w=5 chars, 1mo=6 chars",
            "default": "1d"
          },
          "data": {
            "type": "string",
            "maxLength": 2097152,
            "description": "Text data to store (up to 2MB)"
          }
        },
        "required": ["data"]
      },
      "CreateFormRequest": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "string",
            "enum": ["1d", "1w", "1mo"]
          },
          "data": {
            "type": "string",
            "description": "Text data to store"
          },
          "format": {
            "type": "string",
            "enum": ["html"]
          }
        },
        "required": ["data"]
      },
      "CreateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the created data page"
          }
        },
        "required": ["status", "url"]
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          },
          "message": {
            "type": "string",
            "example": "deleted successfully"
          }
        },
        "required": ["status", "message"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "description": {
            "type": "string",
            "description": "Error description"
          }
        },
        "required": ["status", "description"]
      }
    },
    "securitySchemes": {
      "OwnerCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "id",
        "description": "128-bit owner token for deletion access"
      }
    }
  }
}